modules = ["nodejs-20", "python-3.12", "web", "docker", "nix", "gcloud", "bash"]
run = "git clone https://github.com/kortix-ai/suna.git && cd suna && python setup.py && python start.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "./deploy.sh"]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43101684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf suna"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git clone https://github.com/kortix-ai/suna.git"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd suna && python setup.py && python start.py"
